.home {
  font-family: oregon_ldoregular;
  font-weight: normal;
  font-style: normal;
  padding-left: 50px;
  background-image: url("dylbackground.jpg");
}
.about {
  font-family: oregon_ldoregular;
  font-weight: normal;
  font-style: normal;
  padding-left: 50px;
  background-image: url("hazybackground.jpg");
}
img {

}
.link {
  font-family: oregon_ldoregular;
  font-weight: normal;
  font-style: normal;
  color: #4d004d;
}
.redirect {
  font-family: oregon_ldoregular;
  font-weight: normal;
  font-style: oblique;
  color
}
a:link {
  color: #4d004d;
}
a:visited {
  color: #330033
}
a:hover {
  color: #660066;
}

@font-face {
    font-family: oregon_ldoregular;
    src: url("dylankarlsson.github.io/fontkit/oregon_ldo.ttf");
    src: url("dylankarlsson.github.io/fontkit/oregon_ldo.eot") format(embedded-opentype),
         url("dylankarlsson.github.io/fontkit/oregon_ldo.woff2") format(woff2),
         url("dylankarlsson.github.io/fontkit/oregon_ldo.woff") format(woff),
         url("dylankarlsson.github.io/fontkit/oregon_ldo.svg#oregon_ldoregular") format(svg);
  }
