.home {
  font-family: oregon_ldoregular;
  font-weight: normal;
  font-style: normal;
  padding-left: 50px;
  background:linear-gradient(to bottom, #ffffff, #d8d0ff);
  height: auto;

}
.about {
  font-family: oregon_ldoregular;
  font-weight: normal;
  font-style: normal;
  padding-left: 50px;
  background:linear-gradient(to bottom, #ffffe6, #dfff80);
  height: 100%;
  background-size: 100%;
  background-repeat: round;
  background-attachment: fixed;
}
img {

}
.link {
  font-family: oregon_ldoregular;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  color: #4d004d;
}
.redirect {
  font-family: oregon_ldoregular;
  font-weight: normal;
  font-style: oblique;
  color
}
.ab {
  font-family: oregon_ldoregular;
  font-weight: normal;
  font-style: normal;
  color: #4d004d;
  padding-left: 400px;
}
.wk-h {
  font-family: oregon_ldoregular;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  color: black;
}
a:link {
  color: #4d004d;
}
a:visited {
  color: #330033
}
a:hover {
  color: #660066;
}

@font-face {
    font-family: oregon_ldoregular;
    src: url("dylankarlsson.github.io/fontkit/oregon_ldo.ttf");
    src: url("dylankarlsson.github.io/fontkit/oregon_ldo.eot") format(embedded-opentype),
         url("dylankarlsson.github.io/fontkit/oregon_ldo.woff2") format(woff2),
         url("dylankarlsson.github.io/fontkit/oregon_ldo.woff") format(woff),
         url("dylankarlsson.github.io/fontkit/oregon_ldo.svg#oregon_ldoregular") format(svg);
  }
