body {
  font-family: oregon_ldoregular;
  font-weight: normal;
  font-style: normal;
  padding-left: 50px;
  background-image: url("css/dylbackground.jpg");
}
img {

}
.link {
  font-family: oregon_ldoregular;
  font-weight: normal;
  font-style: normal;
  color: #330033;
}

@font-face {
    src: url("dylankarlsson.github.io/css/fontkit/oregon_ldo.ttf");
    font-family: oregon_ldoregular;
    src: url("dylankarlsson.github.io/css/fontkit/oregon_ldo.eot") format(embedded-opentype),
         url("dylankarlsson.github.io/css/fontkit/oregon_ldo.woff2") format(woff2),
         url("dylankarlsson.github.io/css/fontkit/oregon_ldo.woff") format(woff),
         url("dylankarlsson.github.io/css/fontkit/oregon_ldo.svg#oregon_ldoregular") format(svg);
  }
